.toggle-button {
    display: flex;
    flex-direction: column;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-around;
    right: 0;
    position: fixed;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__line {
    width: 20px;
    height: 2px;
    background-color: white;
    z-index: 200;
}