/* -------------------- index.html file ------------------------- */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  height: 100%;
  width: 100%;
}

/* ------------------------- General ------------------------- */

.odd {
  background-color: #004343;
  color: #00ffbb;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.section-title {
  text-align: center;
  text-decoration: solid;
  text-shadow: 0 0 3px;
}

.line {
  display: block;
  width: 290px;
  height: 3px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #ccc;
}

/* ------------------------- Navbar -------------------------- */

.bottom-nav {
  position: absolute;
  bottom: 0;
}

.top-nav {
  position: fixed;
  top: 0;
}

.nav {
  text-align: center;
  width: 100%;
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: #004343;
  z-index: 1;
}

.nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

.nav ul li .nav-link {
  text-decoration: none;
  color: #ccc;
}

@media (max-width:768px) {
  .nav {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }
}

/* ------------------------- Home ---------------------------- */

.contents {
  color: #e4e4e4;
  background-color: #004343;
  height: 100vh;
  text-align: "center";
  width: 100%;
}

/* ------------------------- About --------------------------- */

.contents-right {
  font-size: medium;
}

.about {
  background-color: #ffbbbb;
  height: 100vh;
}

/* ------------------------- Skills -------------------------- */

.container-title {
  text-align: center;
}

.skills {
  background-color: #004343;
}

/* -----------------------Contact --------------------------*/

.contact {
  height: 100vh;
  background-color: #ffeeee;
}

/* ------------------------- Footer -------------------------- */

.footer {
  justify-content: center;
  text-align: center;
  padding: 2rem;
  color: #00ffff;
  background-color: #004343;
  bottom: 0;
}

/* -------------------------- Large Devices Only ------------------------*/

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
  .col-lg-6 {
    width: 50%;
    justify-content: center;
  }
}

/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    margin-left: -10px;
    width: 100%;
  }
  .box3 {
    margin-right: 65px;
    width: 100px;
  }
}

/********** Small devices only **********/

@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
  }
  .content-name {
    margin-right: 30px;
  }
}